.background_img {
    background: url('../../images/ash6.JPG') no-repeat center/cover ;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    font-size: 25px;
    font-family:'Restora';
    padding: 20px;
    color:  #f6F4F1;
}

.text {
    background-color: #f6F4F1;
    opacity: 80%;
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    padding: 50px;
    top: 550px;
    margin-bottom:100px ;
}


.bottom {
    display: flex;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 800px;
    background-color: #f6F4F1;
}


@media screen and (max-width: 720px) {
  
    .bottom {
        display: none;
        
    }
}